{% extends "layouts/d.html" %}

{% block title %}{{ profile.user.username }} | {% endblock title %}

{% block content %}
<div id="profile" class="flex flex-col items-center">
    
    <div class="w-full md:w-[36rem] lg:w-[50rem]">
        <div class="card p-6" x-data="{ modal_open: false }">
            <div class="text-center flex flex-col items-center">
                <img class="w-36 h-36 rounded-full object-cover mb-4" src="{{profile.avatar}}" />
                <div class="text-center max-w-md">
                    <h1>{{ profile.name }}</h1>
                    <div class="text-gray-400 mb-2 -mt-3">@{{ profile.user.username }}</div>
                    <div class="flex items-center justify-center mx-auto">
                        <img class="object-cover h-6 mr-1 opacity-60" src="https://img.icons8.com/material-outlined/50/000000/marker.png"> 
                        {% if profile.location %}
                            {{profile.location}}
                        {% else %}
                            Planet Earth
                        {% endif %}
                    </div>
                    <div class="my-8">
                        {% if profile.bio %}
                            {{profile.bio}}
                        {% else %}
                            Professional procrastinator
                        {% endif %}
                    </div> 
                    
                </div>
            </div>

            <div class="absolute bottom-2 right-2 px-4 py-2 mb-3 {% if profile.user == user %}hidden{% endif %}">
                <a @click="modal_open = true" class="flex cursor-pointer items-center gap-2 bg-gray-200 hover:bg-indigo-700 text-white rounded-full h-14 w-14 justify-center">
                    <img class="h-6 m-auto lg:m-0" src="https://img.icons8.com/external-anggara-glyph-anggara-putra/32/ffffff/external-edit-user-interface-anggara-glyph-anggara-putra.png">
                </a>
            </div>
            <div x-show="modal_open" class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true" style="display: none;">
                <div x-show="modal_open" class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true" style="display: none;">
                    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
                    <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
                        <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
                            <div class="relative transform overflow-hidden rounded-2xl bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
                                <div @click.away="modal_open = false" class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
                                    {% include 'a_inbox/form_newmessage.html' with recipient=profile.user %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="tabs" class="flex justify-center my-4 gap-2" hx-target="#tab-contents" hx-swap="innerHTML" _="on htmx:afterOnLoad take .selected for event.target"> 
        <a hx-get="{% url 'userprofile' profile.user.username %}" class="tab selected">Latest</a>
        <a hx-get="{% url 'userprofile' profile.user.username %}?top-posts" class="tab">Top Posts</a>  
        <a hx-get="{% url 'userprofile' profile.user.username %}?top-comments" class="tab">Top Comments</a>
        <a hx-get="{% url 'userprofile' profile.user.username %}?liked-posts" class="tab">Liked Posts</a>
    </div>

    <div id="tab-contents" class="w-full flex flex-col items-center">
        
        <div class="grid place-items-start gap-x-8  mx-auto  
            {% if posts.count <= 1 %} grid-cols-1 max-w-xl
            {% elif posts.count == 2 %} grid-cols-1 max-w-xl lg:grid-cols-2 lg:max-w-5xl
            {% else %} xl:grid-cols-3 xl:max-w-7xl grid-cols-1 max-w-xl lg:grid-cols-2 lg:max-w-5xl
            {% endif %}
        ">

            {% for post in posts  %}
                {% include "a_posts/post.html" %}
            {% empty %}
                <div class="w-full text-center mt-10">No posts just yet...</div>
            {% endfor %}

        </div>

    </div>

</div>
{% endblock content %}