{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-8ZT3QY1F23"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-8ZT3QY1F23');
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}Awesome</title>
    <meta name="description" content="Image-sharing platform with rankings">
    <meta name="keywords" content="Flickr, photo, image sharing, captions, ranking, social platform">
    <meta name="author" content="Mike Figaredo">
    
    <meta property="og:url" content="http://{{ request.META.HTTP_HOST }}{{ request.path }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{% block og-caption %}Awesome{% endblock %}">
    <meta property="og:description" content="{% block og-description %}Image-sharing platform with rankings{% endblock %}">
    <meta property="og:image" content="{% block og-image %}http://{{ request.META.HTTP_HOST }}{% static 'images/awesome.jpg' %}{% endblock %}">
    <meta name="twitter:image" content="{% block tw-image %}http://{{ request.META.HTTP_HOST }}{% static 'images/awesome_twitter.jpg' %}{% endblock %}">

    <link rel="shortcut icon" type="image/png" href="https://img.icons8.com/small/64/000000/fire-heart.png"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
    <link rel="stylesheet" href="{% if debug %}{% static 'css/style.css' %}{% else %}{% static 'css/style.min.css' %}{% endif %}">
    <script src="https://unpkg.com/htmx.org@1.9.11" integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
    
</head>
<body class="bg-gray-200">

    {% include 'includes/messages.html' %}
    {% include 'includes/header.html' %}

    {% block layout %}{% endblock layout %}
    
</body>
</html>