{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Awesome</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Antonio:wght@100">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
        .antonio {
            font-family: 'Antonio', sans-serif;
            font-weight: 100;
        }
    </style>
</head>
<body class="bg-gray-800">
    <div class="flex items-center justify-between h-20 pl-8">
        <logo>
            <a href="/" class="flex items-center gap-1">
                <img src="{% static 'images/fireheart_white.svg' %}" alt="" class="w-6 mr-1 -mt-1">
                <span class="text-lg font-bold text-white">Awesome</span>
            </a>
        </logo>
    </div>

    <content class="block my-32 px-6 text-center">
        {% block content %}{% endblock content %}
    </content>
    
</body>
</html>